
@{
    ViewBag.Title = "Home";
}


<div class="cuerpo">


    @Html.Partial("_Sidebar")

    <div class="home">

        <div class="partido-politicos fondo principal">
            <p class="subtitulo">Elecciones Generales 2021</p>
            <img src="~/Imagenes/logos/eleccion2021.png" alt="Alternate Text" />
        </div>

      
        <div class="informacion">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿QUÉ SON LAS ELECCIONES GENERALES 2021?</h5>
                        <p class="card-text">
                            Las Elecciones Generales 2021 es el proceso electoral donde elegiremos al presidente y
                            vicepresidentes de la República, así como a los congresistas y representantes peruanos ante el Parlamento Andino para
                            el periodo gubernamental 2021-2026.
                        </p>
                        <span>Las elecciones generales se realizarán el 11 de abril de 2021, de 7:00 a.m a 7:00 p.m.</span>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="card ">
                        <h5 class="card-title">¿CUÁNTAS AUTORIDADES SERÁN ELEGIDAS EN LAS ELECCIONES GENERALES 2021?</h5>
                        <p class="card-text">
                            En las Elecciones Generales 2021 se elegirán 138 autoridades, desglosados de la siguiente manera:
                        </p>
                        <img src="~/Imagenes/logos/elecciones-autoridades.png" alt="Elecciones Generales 2021" class="card-img" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">QUIÉNES PODRÁN VOTAR EN LAS ELECCIONES GENERALES 2021?</h5>
                        <p class="card-text">
                            <span> Podrán votar las peruanas y los peruanos mayores de 18 años de edad </span> inscritos en el Registro Nacional de Identificación y Estado Civil (Reniec).
                            El día de la elección, deberán portar su DNI.
                        </p>
                        <p class="card-text">Del mismo modo, los peruanos residentes en el extranjero están obligados a votar en las elecciones generales y consultas populares.</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿EL VOTO ES OBLIGATORIO?</h5>
                        <p class="card-text">
                            <span>El voto es obligatorio hasta los 70 años de edad</span> y su incumplimiento supone una multa. Sin embargo, de acuerdo a la Sexta Disposición Transitoria de la Ley N.° 21038,
                            las personas en grupos de riesgo para la COVID-19 están exentas del pago de la multa por omisión al sufragio para el proceso de Elecciones Generales 2021.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿PODRÍA VOTAR UNA PERSONA QUE CUMPLA 18 AÑOS EL MISMO DÍA DE LAS ELECCIONES?</h5>
                        <p class="card-text">
                            Sí, los jóvenes que cumplan 18 años hasta el día de las Elecciones Generales 2021, el próximo 11 de abril, podrán emitir su voto.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿ES POSIBLE VOTAR CON EL DNI VENCIDO?</h5>
                        <p class="card-text">
                            <span>Sí está permitido votar con el DNI caducado.</span> Los documentos nacionales de identidad (DNI) que hayan caducado o estén por caducar mantendrán
                            su vigencia hasta el 30 de junio de 2021.
                        </p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿CÓMO SABER DÓNDE ME TOCA VOTAR Y SI SOY MIEMBRO DE MESA?</h5>
                        <p class="card-text">
                            La Oficina Nacional de Procesos Electorales (ONPE) habilitó una página para que puedas consultar dónde te toca sufragar y/o consultar si eres miembro de mesa.
                        </p>
                        <ul>
                            <li>Ingresa al siguiente <a href="https://www.consultamiembrodemesa.eleccionesgenerales2021.pe/#/"> enlace</a> para consultar.</li>
                            <li> Escribe tu número de DNI y presiona sobre “Consultar”.</li>
                            <li>Aparecerá un cuadro donde te informan si fuiste seleccionado o no como miembro de mesa.</li>
                        </ul>

                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿CÓMO CAPACITARME SI SOY MIEMBRO DE MESA?</h5>
                        <p class="card-text">
                            Si saliste elegido como miembro de mesa deberás capacitarte para ejercer tu deber con responsabilidad y seguridad. En caso no te haya alcanzado tiempo para asistir
                            a una de estas jornadas, no te preocupes ya que puedes hacerlo de forma virtual en la página de la ONPE,
                            ingresandor al siguiente <a href="https://www.onpe.gob.pe/modElecciones/elecciones/2021/EEGG/miembro-de-mesa.html">enlace</a>.
                        </p>


                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title"> ¿CUÁL ES LA MULTA POR NO VOTAR?</h5>
                        <p class="card-text">
                            El voto es obligatorio para los ciudadanos peruanos a partir de los 18 años cumplidos el mismo día de la elección.
                            Para los mayores de 70 años el voto es facultativo. En caso no voten se estableció una escala de acuerdo con la zona donde vive.
                        </p>
                        <ul>
                            <li>Distrito no pobre: S/ 88</li>
                            <li>Distrito pobre no extremo: S/ 44</li>
                            <li>Distrito pobre extremo: S/ 22</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿CUÁL ES LA MULTA POR NO VOTAR Y SER MIEMBRO DE MESA A LA VEZ?</h5>
                        <p class="card-text">
                            Si no cumples con la función de miembro de mesa y a la vez no votas, tendrás que pagar dos multas: una por omiso a la instalación de la mesa y la otra por omiso al sufragio.
                        </p>
                        <p class="card-text">
                            El monto a pagar será: S/ 220 + multa de elector omiso según tu distrito.
                        </p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿CUÁLES SON LAS CONSECUENCIAS DE NO PAGAR MIS MULTAS ELECTORALES?</h5>
                        <ul>
                            <li>No podrás inscribir cualquier acto relacionado con tu estado civil (matrimonio, divorcio, viudez, etc.).</li>
                            <li>No podrás intervenir en procesos judiciales o administrativos.</li>
                            <li>No podrás realizar actos notariales ni firmar ningún tipo de contrato.</li>
                            <li>No podrás ser nombrado funcionario público.</li>
                            <li>No podrás inscribirte en cualquier programa social y/o obtener brevete.</li>
                            <li> No podrás salir del país</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h5 class="card-title">¿CÓMO JUSTIFICAR QUE NO FUI A VOTAR O NO EJERCÍ COMO MIEMBRO DE MESA?</h5>
                        <p class="card-text">
                            Existen motivos por los cuales puedes justificar no votar, no cumplir con tu deber de ser miembro de mesa o negarte a reemplazar a un miembro de mesa ausente.

                        </p>
                        <p class="card-text">
                            En estos casos, deberás solicitar una Justificación o Dispensa para evitar una multa electoral a partir del día siguiente de la fecha de votación.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>