
<div class="contenedor-menu">
    <a class="btn-menu ">
        <i class="fa fa-bars fa-3x"></i>
    </a>

    <div class="sidebar menu">

         <div class="menu-info a">
             <p>MENU INFORMATIVO</p>
         </div>
        <div class="menu-info b">
            <p>Bienvenido a nuestro portal web en donde podrás encontrar información acerca de todos lo candidatos y sus respectivas organizaciones políticas</p>
        </div>


        <ul>
            <li><a href="@Url.Action("Home","Home")"><i class="fas fa-info-square "></i><p>Información General</p></a></li>
            <li><a href="@Url.Action("ListaPartidos","Home")"><i class="fas fa-id-badge"></i><p>Partidos Políticos</p></a></li>
            <li><a href="@Url.Action("Busqueda","Comparar")"><i class="fas fa-poll-people"></i><p>Comparar</p></a></li>
            <li><a href="https://www.onpe.gob.pe/modElecciones/elecciones/2021/EEGG/miembro-de-mesa.html"><i class="fas fa-map-marker-edit"></i><p>Consultar Local Votación</p></a></li>
            <li><a href="@Url.Action("Login","Security")"><i class="fas fa-ballot-check"></i><p>Elecciones Generales</p></a></li>

        </ul>


    </div>
</div>



